# Dependency directories
.dart_tool/
.packages
.pub-cache/
.pub/

# Build output
build/

# IDE specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart specific
pubspec.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
android/local.properties
android/key.properties
android/app/src/main/res/values/strings.xml
.flutter-plugins
.flutter-plugins-dependencies

# Mac specific
.DS_Store

# Temp files
commit_msg.txt
